.section_brand {
    padding: 3%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-family: "Fraunces", serif;
}

.section_brand h2 {
    margin-bottom: 40px;
    font-size: 45px;
}

.section_brand p {
    width: 60%;
    line-height: 30px;
}

@media screen and (max-width: 1050px) {

    .section_brand p {
        width: 80%;
    }
}