@import url('https://fonts.googleapis.com/css2?family=Fraunces:wght@300;400;800&family=Open+Sans&display=swap');

* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

a {
    color: black;
    text-decoration: none;
}



